Repository ERP-proj/ERP-FE, pull requests merged in 2024-12, with the labels that each got.

#5 [Feat]: 회원 리스트 페이지 레이아웃
  package-lock.json
  package.json
  src/app/components/SideBar.tsx
  src/app/components/calendar/MiniCalendar.tsx
  src/app/components/calendar/MiniCalendarPopup.tsx
  src/app/components/member/MemberList.tsx
  src/app/components/member/MemberRow.tsx
  src/app/components/member/TopControls.tsx
  src/app/components/ui/aspect-ratio.tsx
  src/app/components/ui/button.tsx
  src/app/components/ui/scroll-area.tsx
  src/app/components/ui/table.tsx
  src/app/main/NextReservation.tsx
  src/app/main/TimeTable.tsx
  src/app/main/UserReservationInfo.tsx
  src/app/members/create/page.tsx
  src/app/members/list/page.tsx
  src/app/page.tsx
  src/components/main/SideBar.tsx
Labels: ✨Chore, 🎨Html&css

#11 feat: 예약 관리 페이지 디자인 수정 반영
  src/app/components/SideBar.tsx
  src/app/components/ui/button.tsx
  src/app/components/ui/table.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/main/NextReservation.tsx
  src/app/main/TimeTable.tsx
  src/app/main/UserReservationInfo.tsx
  src/app/page.tsx
  src/assets/sidebar/calendarFocusIcon.png
  src/assets/sidebar/calendarIcon.png
  src/assets/sidebar/passedIcon.png
  src/assets/sidebar/userIcon.png
  src/utils/calendar/calendarSetup.ts
Labels: 🎨Html&css, 🔧Refactor

#12 [FEAT]: 회원관리 리스트 페이지 변경
  next.config.mjs
  package-lock.json
  package.json
  public/sidebar/calendarFocusIcon.png
  public/sidebar/calendarIcon.png
  public/sidebar/clicked_user.png
  public/sidebar/passedIcon.png
  public/sidebar/userIcon.png
  src/api/core/core.ts
  src/app/components/SideBar.tsx
  src/app/components/member/MemberList.tsx
  src/app/components/member/MemberRow.tsx
  src/app/components/member/TopControls.tsx
  src/app/components/ui/Dropdown.tsx
  src/app/components/ui/button.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/main/TimeTable.tsx
  src/app/members/list/page.tsx
  src/app/page.tsx
Labels: ✨Chore, 🎨Html&css

#15 [FEAT]: 캘린더 이벤트 adding API 기능 작업
  src/app/components/calendar/MiniCalendar.tsx
  src/app/layout.tsx
  src/app/main/UserReservationInfo.tsx
  src/hooks/calendar/useDailyReservation.ts
  src/utils/calendar/calendarSetup.ts
  src/utils/calendar/colorList.ts
  src/utils/calendar/transformReservationsToEvents .ts
  src/utils/reservation/getCustomerDetail.ts
Labels: 📬API, ✨Feature, 🎨Html&css
