Repository ERP-proj/ERP-FE, pull requests merged in 2025-02, with the labels that each got.

#28 [FEAT]: 예약 관리 페이지 디자인 보완
  public/reservationModal/checked.png
  public/reservationModal/unchecked.png
  public/sidebar/calendarIcon.png
  public/sidebar/clicked_user.png
  public/sidebar/passedIcon.png
  public/sidebar/rewardIcon.png
  public/sidebar/userFocusIcon.png
  public/sidebar/userIcon.png
  src/api/reservation/putUpdateReservations.ts
  src/app/components/SideBar.tsx
  src/app/components/calendar/ReservationModal.tsx
  src/app/main/NextReservation.tsx
  src/app/main/SelectedEventModal.tsx
  src/app/page.tsx
  src/app/rewards/page.tsx
Labels: ✨Feature, 🎨Html&css

#31 [FEAT]: 회원정보 수정,업데이트,삭제
  .eslintrc.json
  src/api/core/core.ts
  src/api/member/index.ts
  src/app/components/member/CreateMember.tsx
  src/app/components/member/DetailMember.tsx
  src/app/components/member/MemberList.tsx
  src/app/components/member/MemberRow.tsx
  src/app/components/member/Pay.tsx
  src/app/components/member/RegisterForm.tsx
  src/app/components/member/TopControls.tsx
  src/app/components/member/create/Camera.tsx
  src/app/components/member/create/CreateMember.tsx
  src/app/components/member/create/Pay.tsx
  src/app/components/member/create/Plan.tsx
  src/app/components/member/create/RegisterForm.tsx
  src/app/components/member/detail/DetailForm.tsx
  src/app/components/member/detail/DetailMember.tsx
  src/app/components/member/detail/PlanPaymentForm.tsx
  src/app/components/member/list/MemberList.tsx
  src/app/components/member/list/MemberRow.tsx
  src/app/components/member/list/TopControls.tsx
  src/app/components/ui/Accordion.tsx
  src/app/components/ui/BasicButton.tsx
  src/app/components/ui/Dropdown.tsx
  src/app/components/ui/Modal.tsx
  src/app/components/ui/Toggle.tsx
  src/app/globals.css
  src/app/members/page.tsx
  src/hooks/progress/useProgressList.tsx
  src/types/memberType.ts
  src/utils/discountedPrice.ts
  src/utils/formatDate.ts
  src/utils/formatPhone.ts
  src/utils/mapping.ts
Labels: 🐞bug, 📬API, ✨Chore, ✨Feature, 🎨Html&css, 🔧Refactor

#32 [FEAT] 로그인,로그아웃
  package-lock.json
  package.json
  src/api/auth/index.ts
  src/api/core/apiClient.ts
  src/api/core/core.ts
  src/api/member/index.ts
  src/app/components/SideBar.tsx
  src/app/components/member/create/CreateMember.tsx
  src/app/components/member/create/RegisterForm.tsx
  src/app/components/member/detail/DetailForm.tsx
  src/app/components/member/detail/DetailMember.tsx
  src/app/components/member/detail/PlanPaymentForm.tsx
  src/app/components/member/list/MemberList.tsx
  src/app/components/member/list/MemberRow.tsx
  src/app/components/member/list/TopControls.tsx
  src/app/components/ui/Alert.tsx
  src/app/components/ui/BasicButton.tsx
  src/app/components/ui/Toggle.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/members/page.tsx
  src/app/page.tsx
  src/hooks/plan/useAutoFocus.ts
  src/hooks/plan/useDiscount.ts
  src/hooks/progress/useProgressList.tsx
  src/store/useAlertStore.ts
  src/store/useAuthStore.ts
  src/types/memberType.ts
  src/utils/discountedPrice.ts
Labels: 📬API, ✨Feature, 🎨Html&css, 🔧Refactor

#35 [FEAT] 관리자 페이지 생성 및 예약 관리 페이지 리팩토링
  package-lock.json
  public/admin/sidebar/branchFocusIcon.png
  public/admin/sidebar/branchIcon.png
  public/admin/sidebar/planFocusIcon.png
  public/admin/sidebar/planIcon.png
  src/api/reservation/loadReservation.ts
  src/app/admin/branch/page.tsx
  src/app/admin/plan/page.tsx
  src/app/components/admin/SideBar.tsx
  src/app/components/calendar/ReservationModal.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/main/SelectedEventModal.tsx
  src/app/main/TimeTable.tsx
  src/app/page.tsx
  src/hooks/calendar/useDailyReservation.ts
  src/utils/calendar/calendarSetup.ts
  tailwind.config.ts
Labels: ✨Feature, 🔧Refactor

#43 [FIX] 캘린더 페이지 이슈 수정
  src/api/reservation/loadReservation.ts
  src/api/reservation/postAddReservations.ts
  src/app/components/calendar/ReservationModal.tsx
  src/app/main/NextReservation.tsx
  src/app/main/SelectedEventModal.tsx
  src/app/main/TimeTable.tsx
  src/hooks/calendar/useDailyReservation.ts
  src/hooks/reservation/useNextReservation.ts
  src/utils/calendar/calendarSetup.ts
  src/utils/reservation/transformNextTimeReservation.ts
Labels: 🐞bug

#45 [FEAT]: 진도표 컴포넌트 제작
  public/reservationModal/addIcon.png
  src/api/reservation/putUpdateReservations.ts
  src/app/main/SelectedEventModal.tsx
Labels: 📬API, ✨Feature
