Repository ERP-proj/ERP-FE, pull requests merged in 2025-01, with the labels that each got.

#17 [FEAT]: 회원등록 모달 레이아웃
  src/api/member/index.ts
  src/app/components/SideBar.tsx
  src/app/components/member/CreateMember.tsx
  src/app/components/member/DetailMember.tsx
  src/app/components/member/MemberRow.tsx
  src/app/components/member/Pay.tsx
  src/app/components/member/RegisterForm.tsx
  src/app/components/member/TopControls.tsx
  src/app/components/ui/Accordion.tsx
  src/app/components/ui/BasicButton.tsx
  src/app/components/ui/Modal.tsx
  src/app/components/ui/Toggle.tsx
  src/app/globals.css
  src/app/members/(test)/page.tsx
  src/app/members/create/page.tsx
  src/app/members/list/page.tsx
  src/types/memberType.ts
Labels: ✨Feature, 🎨Html&css

#20 [FEAT]: 회원 추가/ 회원리스트 페이지 api 연결
  package-lock.json
  package.json
  src/api/core/core.ts
  src/api/member/index.ts
  src/app/components/SideBar.tsx
  src/app/components/member/CreateMember.tsx
  src/app/components/member/MemberList.tsx
  src/app/components/member/MemberRow.tsx
  src/app/components/member/Plan.tsx
  src/app/components/member/RegisterForm.tsx
  src/app/components/ui/Accordion.tsx
  src/app/members/(test)/page.tsx
  src/app/members/list/page.tsx
  src/app/members/page.tsx
  src/types/memberType.ts
Labels: 📬API, 🎨Html&css

#21 feat: 예약 관리 모달 수정
  package-lock.json
  package.json
  public/reservationModal/activeCheck.png
  public/reservationModal/closeIcon.png
  public/reservationModal/inactiveCheck.png
  src/app/components/calendar/ReservationModal.tsx
  src/app/main/SelectedEventModal.tsx
  src/app/main/UserReservationInfo.tsx
  src/app/page.tsx
  src/assets/noUser.png
  src/hooks/calendar/useDailyReservation.ts
  src/utils/calendar/calendarSetup.ts
  src/utils/calendar/transformReservationsToEvents .ts
  src/utils/reservation/getCustomerDetail.ts
  src/utils/reservation/getReservationCustomerDetails.ts
Labels: ✨Feature, 🎨Html&css

#27 [FEAT]: 예약 기능 구현/수정 및 API 코드 리팩토링
  .eslintrc.json
  .gitattributes
  .vscode/settings.json
  package-lock.json
  package.json
  src/api/reservation/deleteReservations.ts
  src/api/reservation/fetchNextTimeReservations.ts
  src/api/reservation/getDailyReservations.ts
  src/api/reservation/getReservationByTime.ts
  src/api/reservation/postAddReservations.ts
  src/api/reservation/putUpdateReservations.ts
  src/api/reservation/searchCustomerName.ts
  src/app/components/calendar/MiniCalendar.tsx
  src/app/components/calendar/MiniCalendarPopup.tsx
  src/app/globals.css
  src/app/main/NextReservation.tsx
  src/app/main/SelectedEventModal.tsx
  src/app/page.tsx
  src/hooks/calendar/useDailyReservation.ts
  src/hooks/reservation/useNextReservation.ts
  src/utils/calendar/calendarSetup.ts
Labels: 📬API, ✨Feature, 🔧Refactor
